<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADV Shop</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            justify-content: center;
        }
        .container {
            text-align: center;
            margin-top: 50px;
        }
        .btn {
            margin-right: 10px;
        }
        h2 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Welcome to ADV Shop</h2>
    <a href="/product/list" class="btn btn-primary">Product</a>
    <a href="/car/listCar" class="btn btn-primary">Car</a>
</div>
</body>
</html>